<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu">
                <li class=" rk-menu__item" routerLinkActive="active"><a routerLink="home" class="rk-menu__link">Home</a>
                </li>
                <li class="rk-menu__item" routerLinkActive="active"><a routerLink="tratamiento"
                        class="rk-menu__link">Tratamientos</a>
                </li>
                <li class="rk-menu__item" routerLinkActive="active"><a routerLink="contactos"
                        class="rk-menu__link">Contactenos</a>
                </li>
            </ul>
            <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span
                    class="ae-u-bolder">{{anio}} {{_infoServicio.info.titulo}} </span>All Right Reserved.
            </p>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center">
            <a target="_blank" href="{{_infoServicio.info.facebook}}" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
                </svg>
            </a>
            <a target="_blank" [href]="_infoServicio.info.twiter" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
                </svg>
            </a>
            <a target="_blank" href="{{_infoServicio.info.instagram}}" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
                </svg>
            </a>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
            <p class="rk-footer__text rk-footer__contact "> 
                <span class="ae-u-bold">Email: </span>
                <span class="ae-u-bolder"> 
                    <a href="mailTo:{{_infoServicio.info.email}}" class="rk-dark-color ">{{_infoServicio.info.email}} </a>
                </span>
            </p>
            <p class="rk-footer__text rk-footer__by">Theme by 
                <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a>
            </p>
        </div>
    </div>
</footer>